.contacts__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contacts__list-item {
  font-size: 30px;
}

.contacts__nav-link {
  color: red;
}

.contacts__nav-link:visited {
  color: green;
}
