@import "../variables.scss";

.events {
  margin-bottom: 156px;

  @media screen and (min-width: $tablet1) {
    margin-bottom: 218px;
  }

  @media screen and (min-width: $tablet1) {
    margin-bottom: 255px;
  }
}

.events-title {
  width: 100%;
  margin-bottom: 72px;
  padding: 16px;
  color: $secondary-color;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 0.52px;
  border-radius: $container-border-radius;
  background-color: $accent-color;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: $tablet1) {
    margin-bottom: 80px;
    padding: 32px 24px;
    font-size: 37px;
    letter-spacing: 0.74px;
  }

  @media screen and (min-width: $tablet2) {
    font-size: 44px;
    letter-spacing: 0.88px;
    line-height: normal;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 132px;
    padding: 32px 64px;
    font-size: 56px;
    letter-spacing: 1.12px;
  }
}

.events__container {
  @media screen and (min-width: $tablet1) {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  @media screen and (min-width: $tablet2) {
    gap: 24px;
  }
}

.events__posts {
  @media screen and (max-width: 767px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: $tablet1) {
    max-width: 424px;
  }

  @media screen and (min-width: $tablet2) {
    max-width: 640px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 840px;
  }
}
.events__pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
  padding: 16px 32px;
  background-color: $accent-color;
  border-radius: $container-border-radius;

  @media screen and (min-width: $tablet1) {
    gap: 32px;
  }
}

.events__pagination a,
.events__pagination span {
  padding: 8px;
  width: 40px;
  height: 40px;
  font-family: $fira;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  border-radius: 50px;
  text-align: center;
}

.events__pagination a {
  color: $pagination-color;
  border: 1px solid $pagination-color;
}

.events__pagination span {
  color: $button-color;
  background-color: $secondary-color;
}
