@import "./variables.scss";

.widget-area {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 328px;

  @media screen and (min-width: $tablet1) {
    width: 264px;
  }

  @media screen and (min-width: $tablet2) {
    gap: 24px;
  }

  @media screen and (min-width: $desktop) {
    width: 396px;
    gap: 36px;
  }
}

.sidebar__section {
  width: 100%;
}

.sidebar__wrapp {
  padding: 32px 16px;

  @media screen and (min-width: $tablet1) {
    padding: 32px 24px;
  }

  @media screen and (min-width: $desktop) {
    padding: 32px;
  }
}

.sidebar__search {
  padding: 32px 16px;
  border-radius: 8px;
  background-color: $accent-color;
  overflow: hidden;

  @media screen and (min-width: $tablet1) {
    padding: 32px;
  }
}

.wp-block-search__inside-wrapper {
  padding: 8px;
  padding-left: 14px;
  border-radius: 8px;
  border: 1px solid #e4dfd9;
  background-color: $button-color;
}

.wp-block-search__inside-wrapper .wp-block-search__input {
  border: none;
  outline: none;
  font-family: $fira;
  font-size: 16px;

  &::placeholder {
    color: #e4dfd9;
    font-family: $fira;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.32px;
  }
}

.wp-block-search__inside-wrapper .wp-block-search__button {
  padding: 8px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background: $secondary-color;
}

.wp-block-search__button svg {
  fill: $button-color;
}

.sidebar__section {
  border-radius: 8px;
  background-color: $accent-color;
  overflow: hidden;
}

.sidebar__title {
  padding: 16px 32px;
  background: $secondary-color;
  color: $button-color;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.categories__item {
  padding: 8px 8px 8px 14px;
  border-radius: 8px;
  color: $secondary-color;
  background-color: $button-color;
  font-family: $fira;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.categories__item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary-color;
}

.categories__item--contrast {
  background-color: $secondary-color;
}

.categories__item--contrast a {
  color: $button-color;
}

.categories__count {
  padding: 8px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-family: $fira;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  border-radius: 4px;
  color: $button-color;
  background-color: $secondary-color;
}

.categories__count--contrast {
  color: $secondary-color;
  background-color: $button-color;
}

.latest-posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.latest-posts__item {
  display: flex;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: $tablet1) {
    gap: 10px;
  }
}

.latest-posts__img {
  width: 112px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: $tablet1) {
    width: 80px;
    height: 113px;
  }

  @media screen and (min-width: $desktop) {
    width: 80px;
    height: 81px;
  }
}

.latest-posts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-posts__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 16px 8px;
  width: 184px;

  @media screen and (min-width: $tablet1) {
    width: 126px;
    padding: 0;
    gap: 5px;
  }

  @media screen and (min-width: $desktop) {
    width: 236px;
  }
}

.latest-posts__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 6px;
  font-family: $fira;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;

  @media screen and (min-width: $tablet1) {
    font-size: 12px;
    line-height: 1.66;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    font-size: 16px;
  }
}

.latest-posts__category,
.latest-posts__date {
  display: flex;
  align-items: center;
  gap: 8px;
  fill: currentColor;
}

.latest-posts __date {
  color: $secondary-color;
}

.latest-posts__category,
.latest-posts__category a {
  color: $orange-text-color;

  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $error;
  }
}

.latest-posts__title {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 0.52px;
  color: $primary-color;
  width: 168px;
  max-height: 56px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;

  @media screen and (min-width: $tablet1) {
    width: 126px;
    max-height: 43px;

    font-size: 20px;
    letter-spacing: 0.4px;
  }

  @media screen and (min-width: $desktop) {
    width: 240px;
    max-height: 56px;
    font-size: 26px;
    line-height: 1.08;
    letter-spacing: 0.52px;
  }
}

.sidebar-form__text {
  color: $secondary-color;
  font-family: $fira;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.sidebar-donate__link {
  display: flex;
  width: 164px;
  padding: 12px 12px 12px 18px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: $button-color;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  fill: currentColor;
  border: none;
  border-radius: 8px;
  background-color: $secondary-color;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-color;
  }
}

.sidebar-donate__img {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 261px;
  height: 254px;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: $tablet1) {
    width: 216px;
    height: 219px;
  }

  @media screen and (min-width: $desktop) {
    width: 332px;
    height: 233px;
  }
}

.sidebar-donate__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
