$primary-color: #4f4840;
$secondary-color: #78756e;
$accent-color: #f1eee8;
$button-color: #fff;
$orange-text-color: #cd9811;
$error: #EA5151;
$success: #5CAD37;

$amatic: "Amatic SC", cursive;
$fira: "Fira Sans", sans-serif;

$mobile: 360px;
$tablet1: 768px;
$tablet2: 992px;
$desktop: 1920px;

$container-border-radius: 8px;

$container-shadow: 0px 7px 15px 1px rgba(0, 0, 0, 0.25);
